
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Petemoss&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

:root {
   
    --color-1: #F8EDE3;
    --color-2: #db4b8a;
    --color-3: #b37a6b;
    --color-4: #F4D1D1;
    --color-5: #db4b8a;
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html {
    scroll-behavior: smooth;
}

body, html {
    height: 100%;
    width: 100%;

    
}


section {
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

.efeito-logo, .efeito-frase, .efeito-servicos, .efeito-container-importancia1, .efeito-container-importancia2, .efeito-container-importancia3, .efeito-sobre, .efeito-texto-sobre {
    visibility: hidden;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 40px;
    background: var(--color-1);
    box-shadow: 0 4px 6px #0000001a;
    width: 100%;
    z-index: 1000;
    font-family: "Poppins", serif;
    font-style: italic;
}

.navbar .logo img{
    width: auto;
    height: 100px;
  
}

.menu {
    list-style: none;
    display: flex;
}
.menu li {
    margin: 0 40px;
}
.menu li a {
    text-decoration: none;
    color: var(--color-2);
    font-size: 24px;
    transition: 0.3s;
}
.menu li a:hover {
    color: var(--color-3);
}
.btn-agendar {
    background: var(--color-2);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s;
}
.btn-agendar:hover {
    background: var(--color-3);
}


/* SECTION 1 */

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}



.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 410%; 
    height: 100%;
    display: flex;
    transition: transform 1s ease-in-out;
}

.hero-bg img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.hero-content {
    position: relative;
    color: black;

    padding: 20px;
    border-radius: 10px;
}
.logo img {
    max-width: 300px;
    z-index: 5;
}
.tagline {
    font-size: 120px;
    font-family: "Petemoss", serif;
    font-weight: 500;
    margin-top: 10px;
    color: var(--color-5);
    box-shadow: 0 4px 2px #0000001a;
}

/* SECTION 2 */

.servicos {
    height: 100vh;
    background-color: var(--color-1);
}

.servicos h2 {
    font-size: 40px;
    text-align: center;
    margin: 40px 0;
}

.titulo-servicos {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.titulo-servicos h1.titulo-com-tracos {
    color: var(--color-2);
    font-family: "Nunito", serif;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    position: relative;
    margin: 20px 0;
}

.titulo-servicos p {
    text-align: center;
    color: var(--color-2);
    font-family: "Nunito", serif;
    font-size: 1.5rem;
    font-weight: 700;
}

  
  .titulo-com-tracos::before,
  .titulo-com-tracos::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 20%;
    height: 2px;
    background-color: var(--color-2);
  }
  
  .titulo-com-tracos::before {
    left: 18%;
  }
  
  .titulo-com-tracos::after {
    right: 18%;
  }

  .menu-servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
    gap: 60px;
    
  }

  .sub-title {
    font-size: 24px;
    font-family: "Nunito", serif;
    font-weight: 800;
    color: var(--color-2);
    margin: 20px 0;
    text-decoration: none;
    padding: 0 10px;
  }
  
  .decoracao {
    background-color: var(--color-2);
    width: 3px;
    height: 40px;
    z-index: 1000;
    display: inline block;
    border-radius: 10px;
}



.servicos-container {
    display: flex; 
    justify-content: space-around; 
    align-items: stretch; 
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 20px;
}


/* condiçoes para o efeito de transicao do js */
.servicos-container {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}

.servicos-container.show {
    opacity: 1;
    visibility: visible;
    position: relative;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0s;
}

.servicos-container:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fim condicoes */

.card {
    background: var(--color-5); 
    border-radius: 10px; 
    padding: 20px;
    text-align: center;
    width: 30%; 
    height: auto;
}

.card img {
    width: 100%; 
    height: auto;
    border-radius: 8px;
   
}

.card h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--color-4);
    font-family: "Nunito", serif;
    font-weight: 800;
}

.card ul {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    margin-left: 6%;
}

.card ul li {
    font-size: 1rem;
    color: var(--color-4);
    font-family: "Poppins", serif;
    font-weight: 700;
    padding: 10px 0;
    text-align: left; 
    width: 100%;
}

/* SESSAO 3 */

.importancia {
    height: 100vh;
    background-color: var(--color-1);
   
}

.titulo-importancia {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.titulo-importancia .titulo-com-tracos-importancia {
    color: var(--color-2);
    font-family: "Nunito", serif;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    position: relative;
    margin: 20px 0;
}

.titulo-com-tracos-importancia::before,
.titulo-com-tracos-importancia::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 15%;
  height: 2px;
  background-color: var(--color-2);
}

.titulo-com-tracos-importancia::before {
  left: 5%;
}

.titulo-com-tracos-importancia::after {
  right: 5%;
}

.importancia-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 40px; 
}

.importancia-1 {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 50%;
    
}



.textos-importancia {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.textos-importancia h3 {
    font-size: 2rem; 
    color: var(--color-5);
    font-family: "Nunito", serif;
    font-weight: 900;
}

.textos-importancia p {
    font-size: 1.3rem; 
    font-family: "Poppins", serif;
    color: var(--color-5);
}

.importancia-1 img {
    width: auto;
    height: 200px;
    margin-right: 20px;
}

.importancia-1 img.roxa {
    width: auto;
    height: 200px;
    margin-right: 40px;
}

/* SECTION 4 */

.sobre {
    position: relative;
    background-image: url('https://i.pinimg.com/originals/1e/ed/81/1eed812403611a9fd71367c070b0b998.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sobre::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.sobre * {
    position: relative;
    z-index: 2;
}

 .titulo-com-tracos-sobre {
    color: var(--color-2);
    font-family: "Nunito", serif;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    position: relative;
    margin: 20px 0;
}

.titulo-com-tracos-sobre::before,
.titulo-com-tracos-sobre::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 15%;
  height: 2px;
  background-color: var(--color-2);
}

.titulo-com-tracos-sobre::before {
  left: 25%;
}

.titulo-com-tracos-sobre::after {
  right: 25%;
}

.container-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.camada {
    width: 70%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2c27279c;
    border-radius: 20px;
}

.sobre-logo img {
    width: 100%;
    height: 200px;
    background-color: var(--color-4);
    border-radius: 10px;
}

.texto-sobre {
    color: var(--color-5);
    padding: 20px;
    font-size: 25px;
    font-family: "Poppins", serif;
}



/* SECTION 5 */

 .avaliacao2 {
    text-align: center;
    padding: 50px 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
    background: linear-gradient(#00000080, #00000080), url('https://imageio.forbes.com/specials-images/imageserve/5fd7bd632ad2cc574ef90323/0x0.jpg?format=jpg&amp;crop=6016,3385,x0,y308,safe&amp;height=600&amp;width=1200&amp;fit=bounds');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
 
.swiper {
    width: 100%;
    height: 300px;
    padding-bottom: 60px;
   
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: var(--color-5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 34px;
  }

  .swiper-slide img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }


.titulo-avaliacao {
    display: flex;
    justify-content: center;
}

.titulo-com-tracos-avaliacao {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.titulo-avaliacao h1 {
    color: var(--color-5);
    background-color: var(--color-4);
    padding: 20px;
    border-radius: 20px;

}


.avaliacao-header p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: var(--color-4);
}

.avaliacao-rate {
    color: #FFD700;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.avaliacao-quote {
    font-size: 1.2rem;
    font-style: italic;
    color: var(--color-1);
    margin-bottom: 15px;
}


.avaliacao-author {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.author-info h3 {
    font-size: 1.5rem;
    color: #000;
    margin: 0;
}

.author-info p {
    font-size: 1rem;
    color: var(--color-4);
    margin: 0;
}

.swiper-button-prev,
.swiper-button-next {
    background-color: var(--color-1);
    width: 55px;
    height: 55px;
    border-radius: 20px;
    padding: 30px 15px;
}

.swiper-button-next::after, .swiper-button-prev::after {
    color: var(--color-5);
   
}





footer {
    width: 100%;
    height: 350px;
    background-color: var(--color-4);
    display: flex;
    flex-direction: column;
}

.contato-estetica, .contato-diego {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contato-estetica h2 {
    text-align: center;
    font-family: 'nunito' , serif;
    margin: 0 0 0 10px;
    color: var(--color-5);
}


.contato-estetica ul, .contato-diego ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 30px;
    margin-top: 15px;
}

.contato-estetica i, .contato-diego i {
    color: var(--color-5);
    font-size: 40px;
    transition: 0.2s;
}

.contato-estetica i:hover, .contato-diego i:hover {
    transform: scale(1.05);
}

.contato-diego p {
    font-family: 'poppins';
    font-size: 20px;
    margin: 10px;
}
.contato-diego a {
    text-decoration: none;
    color: var(--color-5);
}

.contato-diego a:hover {
    text-decoration: underline;
}

/* MENU MOBILE */

.menu-mobile {
    background-color: var(--color-4);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 90000;
    width: 0%;
    overflow: hidden;
    transition: .5s;
    overflow-y: auto;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
    display: block;
}

.menu-mobile .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-mobile img {
    width: auto;
    height: 200px;
}

.menu-mobile  nav ul {
    text-align: right;
    list-style-type: none;
}

.menu-mobile nav ul a {
    font-size: 30px;
    text-decoration: none;
    padding: 20px 10%;
    display: block;
    color: var(--color-5);
    font-family: 'nunito' , serif;
    font-weight: 900;
}

.menu-mobile nav ul a:hover {
    background-color: var(--color-1);
}


.btn-abrir-menu {
    background-color: var(--color-1);
    
}

.btn-abrir-menu i {
    font-size: 30px;
    padding: 20px;
    color: var(--color-5);
}

.btn-abrir-menu p {
    font-size: 30px;
    font-family: 'nunito', serif;
    font-weight: 900;
    color: var(--color-5);
}

.btn-abrir-menu{
    display: none;
}

.btn-fechar {
    padding: 20px 10px;
}

.btn-fechar i{
 font-size: 40px;
 color: var(--color-5);
}

.overlay-menu {
  
    background-color: #000000be;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
  }


 



/* Responsivo para telas menores */
@media (max-width: 1024px) {
    .navbar {
        display: none;
      }
    
      .btn-abrir-menu{
        display: block;
        display: flex;
        align-items: center;
    }

    .servicos, .sobre, .importancia {
        height: auto;
    }

    .titulo-servicos .titulo-com-tracos::after{
        right: 10%;
    }
    .titulo-servicos .titulo-com-tracos::before {
        left: 10%;
    }

    .titulo-sobre
.titulo-com-tracos-sobre::after {
    right: 10%;
}

.titulo-sobre
.titulo-com-tracos-sobre::before {
    left: 10%;
}

    .menu-servicos {
        flex-wrap: nowrap;
        gap: 30px;
    }

    .card h2{
        font-size: 20px;
    }

    .titulo-importancia .titulo-com-tracos-importancia {
        font-size: 35px;
    }

    .titulo-com-tracos-importancia::after, .titulo-com-tracos-importancia::before{
        content: '';
        position: absolute;
        top: 50%;
        width: 8%;
        height: 2px;
        background-color: var(--color-2);
    }
    .importancia-container {
        margin-bottom: 20px;
    }

    .camada {
        height: auto;
        margin-bottom: 20px;
        padding: 20px;
    }

}



@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .btn-abrir-menu{
    display: block;
    display: flex;
    align-items: center;
}

.titulo-servicos .titulo-com-tracos::after, .titulo-servicos .titulo-com-tracos::before,  .titulo-importancia .titulo-com-tracos-importancia::before , .titulo-importancia .titulo-com-tracos-importancia::after, .titulo-sobre
.titulo-com-tracos-sobre::after , .titulo-sobre .titulo-com-tracos-sobre::before  {
   
    display: none;
}

.tagline {
    font-size: 5rem;
}



.servicos {
    height: auto;
}

.menu-servicos span {
    margin: 0 10px;
}

 .card {
    width: 70%;
 }

.importancia {
    height: auto;
}



.titulo-importancia {
      display: flex;
      justify-content: center;
      align-items: center;
}

 .titulo-importancia .titulo-com-tracos-importancia  {
      font-size: 3rem;
      padding: 20px 4%;
    }


    .importancia-1 {
        width: 70%;
        box-shadow: 0 4px 2px 2px #00000050;
        border-radius: 20px;
    }

    .textos-importancia h3 {
        text-align: center;
        font-size: 1.7rem;
        padding: 20px 2px;
    }

    .textos-importancia p {
        padding: 15px;
        text-align: center; 
        
    }   

    .importancia-1 img {
        margin: 0 15px;
    }

    .importancia-container {
        padding: 20px;
        height: auto;
    }

    .sobre {
        height: auto;
    }

    .sobre {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .camada {
        height: auto;
        padding: 20px;
        margin: 20px;
    }


    .texto-sobre {
        text-align: center;
    }

    
    .avaliacao-quote {
        font-size: 1.1rem; /* Reduz o tamanho do texto */
        padding: 15px; /* Ajusta o espaçamento interno */
    }

    .avaliacao-author {
        text-align: center;
    }

    .author-avatar img {
        width: 60px; /* Reduz o tamanho da imagem */
        height: 60px;
    }

    .avaliacao-rate {
        font-size: 1rem; /* Reduz o tamanho das estrelas */
    }
}


@media (max-width: 390px) {
   
    .titulo-servicos .titulo-com-tracos::after, .titulo-servicos .titulo-com-tracos::before,  .titulo-importancia .titulo-com-tracos-importancia::before , .titulo-importancia .titulo-com-tracos-importancia::after, .titulo-sobre
    .titulo-com-tracos-sobre::after , .titulo-sobre .titulo-com-tracos-sobre::before  {
       
        display: none;
    }

    .servicos, .sobre, .importancia {
        height: auto;
    }

    .navbar {
        display: none;
      }
    
      .btn-abrir-menu{
        display: block;
        display: flex;
        align-items: center;
    }
   
   
 .logo img { 
        width: auto;
        height: 150px;
    }

    .menu-mobile nav ul a {
        font-size: 25px;
    }
    
    .tagline {
        font-size: 80px;
    }

    

    .menu-servicos {
        flex-direction: column;
        gap: 10px;
    }

    .titulo-com-tracos {
        font-size: 2rem;
    }

    .titulo-servicos p {
        font-size: 1.2rem;
    }

    .sub-title {
        font-size: 1.7rem;
        box-shadow: 0 1px 2px 2px #00000050;
        border-radius: 20px;
        width: 80%;
        text-align: center;
    }

    .decoracao {
        display: none;
    }

    .servicos-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
    }
    .card h2 {
        font-size: 28px;
    }

    .card ul li {
        font-size: 14px;
    }


    .titulo-importancia .titulo-com-tracos-importancia {
        font-size: 2rem;
    }

    .importancia-container {
        gap: 20px;
    }

    .importancia-1 {
        width:100%;
        flex-direction: column;
    }

    .textos-importancia h3 {
        font-size: 1.5rem;
    }

    .textos-importancia p {
        font-size: 1rem;
    }

    .camada {
        width: 100%;
    }

    .sobre-logo img {
        width: auto;
        max-height: 200px;
    }

    .titulo-com-tracos-sobre::after , .titulo-com-tracos-sobre::before 

    .texto-sobre {
        text-align: left;
    }

    .contato-diego p {
        text-align: center;
    }
    
}





 


